// Colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);

// Font
$fontSize: 0.9375rem;
$alata: "Alata", sans-serif;
$alataWeight: 400;
$josefin: "Josefin Sans", sans-serif;
$josefinWeight: 300;
